body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-image: url(./assets/bowl-mozzarella-balls-with-tomato-sauce-garlic-pasta-turquoise-background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-section img{
    height:75px;
}


.logo-section{
    display: flex;
    align-items: center;
}

#title{
    color:white;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#title{
    margin-left: 40px;
}

.chef-list{
    list-style-type: none;
}
.navbar-item {
    margin: 0;
    font-size: larger;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #ddd;
    color: black;
}

.icons {
    display: flex;
}

.social-icon {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #ddd;
}
.chef-list img{
    height: 250px;
}
.chef-list{
    display: flex;
    justify-content: space-around;
}
html{
    background-color: #272635;
}

.chef-list p{
    color: #A6A6A8;
    font-size: 40px;
}
#specialty h2{
    color: #B1E5F2;
}